<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus</title>
    {% include 'kids_app/common/common_css.html' %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="background-color:aquamarine;">
    <div class="main-body">
    
        {% include 'kids_app/common/navbar.html' %}
    </div>
        <style>
      
        div.reg-form{
        margin-left: auto;margin-right: auto; 
        /* background-color: pink; */
        margin-top: 20px;
            border: 3px solid black ;
           border-radius: 10px;
           width: 30%;
             

        }
    </style>
</head>
<body>

    <div class="main-body">
   
        <h4 style="color: rgb(4, 37, 37); text-align: center;">Fill the registartion form and for any query contact us <i class="fas fa-mobile-alt">8840236289</i> </h4>
        
        {%if messages%}
        {%for m in messages%}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert"
         style="margin-top: 60px; width:50%;
         margin-left: auto; margin-right: auto;">
            <strong>{{m}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endfor%}
    
        {%endif%}    
    
<form method="POST" novalidate class="needs-validation" action="/contact_us/">
    {%csrf_token%}
    <div class="reg-form ">

        <div class="form-floating mb-3">
            <input type="text" name="u_name"    id="name"class="form-control"required placeholder="enter your name here " oninput="validateInput(event)">
            <div class="invalid-feedback">
                Please Enter your name.
              </div>
           <label for="name">Enter your name here</label>
    
        </div>

    <div class="form-floating mb-3">
        <input type="email" name="u_email" id="email"class="form-control"required placeholder="enter email here ">
        <div class="invalid-feedback">
            Please Enter email id .
          </div>
        <label for="email">Enter email  here</label>

    </div>
    <div class="form-floating mb-3">
        <input type="text" name="u_phone"   id="user_phone"class="form-control"required placeholder="enter phone number here " maxlength="12">
        <div class="invalid-feedback">
            Please Enter phone no.
          </div>
        <label for="phone">Enter phone number here</label>

    </div>
    
    
   
    
     <div class=" form-floating mb-3">
        <textarea name="u_question" id="question" class="form-control" required placeholder="Question"></textarea>
        <div class="invalid-feedback">
            Please Enter your question.
          </div>
        <label for="Question"class="form-lable"> Enter your question</label>

     </div>
     <div class="text-center">
        <button type="reset"class="btn btn-danger">Reset</button>
        <button type="submit"class="btn btn-success">success</button>


     </div>

</div>
</form>
    
</div>

{% include 'kids_app/common/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{%static 'kids_app/js/custom_validation.js'%}"></script>
    <script>
        function validateInput(event) {
        const input = event.target.value;
        const regex = /^[a-zA-Z ]*$/; // Regular expression to match only characters
        if (!regex.test(input)) {
        // If input contains anything other than characters, remove them
        event.target.value = input.replace(/[^a-zA-Z]/g, '');
        //alert("only aplhabets allowed")
       Swal.fire("Only Alphabets are allowed");
        }
        }
        </script>

        <!-- for digits validation -->
        <script>

            document.getElementById('user_phone').addEventListener('keydown', function(event) {
            // Allow only digits and backspace/delete keys
            if (!(event.key === 'Backspace' || event.key === 'Delete' || /\d/.test(event.key))) {
           // alert("Please enter only digits ")
            Swal.fire("Please enter only digits ");
            event.preventDefault();
            }
            });
            
            </script>
      
    
</body>
</html>